.items {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.item {
  height: 180px;
  box-sizing: border-box;
  border: 1px solid blue;
  margin: 10px 2.5% 10px;

  div:nth-child(1) {
    margin-left: 3%;
    margin-top: 2px;
  }
  div:nth-child(2) {
    text-align: center;
  }
}
